@use "../util" as u; // [as *] ---> to not use namespace at all (not recommended)

// Global CSS Properties

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: u.$base-font;
  font-size: u.rem(18);
  background-color: u.$white;
  color: u.$darkblue;
}

.flex {
  display: flex;

  &.jc-c {
    justify-content: center;
  }
  &.jc-sb {
    justify-content: space-between;
  }
  &.ai-c {
    align-items: center;
  }
}

.button{
  display: inline-block;
  color: u.$white;
  padding: u.rem(16) u.rem(30);
  background: linear-gradient(to right, u.$limegreen, u.$brightcyan);
  border-radius: 100px;
  cursor: pointer;
  font-weight: 500;

  transition: opacity 0.3s ease;

  &:hover{
    opacity: .75;
  }
}

.hide-for-mobile{
  @include u.breakpoint-down(large){
    display: none;
  }
}

.hide-for-desktop{
  @include u.breakpoint-up(large){
    display: none;
  }
}

.section{
  padding-top: u.rem(36);
  padding-bottom: u.rem(36);
}