@use "../util" as u;

// Responsive Typography

h1,
h2,
h3 {
  font-weight: 300;
  line-height: 1.15;
  margin-top: 0;
}

h1 {
  // font-size: calc(1.75rem + 1vw); ---> growth of font relative to 'vw'
  // font-size: clamp(1.75rem, (1.75rem + 1vw), 2.75rem); ---> 'better' approach with f-size 'clamping'
  font-size: clamp(u.rem(36), (u.rem(30) + 2vw), u.rem(52)); // ---> converting 'px' to 'rem' using 'rem()' from 'functions.scss/
  color: u.$darkblue;
  margin-bottom: u.rem(24);

  // @include u.breakpoint-up(medium) {
  //   font-size: 36px;
  // }
  // @include u.breakpoint-up(large) {
  //   font-size: 42px;
  // }
}

h2 {
  font-size: clamp(u.rem(22), (u.rem(22) + 0.75vw), u.rem(32));
}

p {
  font-size: clamp(u.rem(16), (u.rem(12) + 0.75vw), u.rem(20));
  font-weight: 300;
  line-height: 1.5;
  margin-top: 0;
  color: u.$greyblue;
}
