@use "../util/" as u;

.hero {
  background-color: u.$verylightgrey;

  &__image {
    position: relative;
    background: url(/assets/bg-intro-mobile.svg) center / cover no-repeat;
    min-height: u.rem(280);
  
    &::before {
      position: absolute;
      background: url(/assets/bg-intro-desktop.svg) center calc(100% + u.rem(15)) / 90% no-repeat;
      content: "";
      height: 100%;
      width: 173%;
    }

    &::after {
      position: absolute;
      background: url(/assets/image-mockups.png) center calc(100% + u.rem(15)) / 90% no-repeat;
      content: "";
      height: 100%;
      width: 100%; // If u give width lesser than 100% with position center center, the image wont center, instead use bg-size to alter the size of the bg to keep it centered.
    }

    @include u.breakpoint-down(large){
      &::before{
        display: none;
      }
    }
  }

  &__text {
    // padding-left: u.rem(24);
    // padding-right: u.rem(24);
    width: min(100% - u.rem(48), u.rem(1113));
    margin-inline: auto;

    text-align: center;

    p {
      margin-bottom: u.rem(30);
    }
  }

  @include u.breakpoint-up(large) {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    
    height: u.rem(655);
    width: min(100% - u.rem(48), u.rem(1113));
    margin-inline: auto;

    &__image {
      flex-basis: 64%;
      background: none;
      // background: url(/assets/image-mockups.png) left bottom / 80% no-repeat;
      height: 100%;
    }

    &__text {
      flex-basis: 36%;
      text-align: left;
    }
  }
}
